Chat-Assistant.json
{
  "name": "Chat Assistant - Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message || $json.query.message || 'hola' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "qwen3:4b",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "ollama-chat",
      "name": "Ollama Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Eres un asistente amigable y útil. Responde de manera concisa y clara.\\n\\nUsuario: \" + $json.message + \"\\n\\nAsistente:\" }}"
      },
      "id": "chain-chat",
      "name": "Chain Chat",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.output || $json.text || $json.message || 'Lo siento, no pude generar una respuesta.' } }}",
        "options": {}
      },
      "id": "respond-chat",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Chain Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain Chat": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Chain Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "chat-v1",
  "id": "ChatAssistantOllama",
  "tags": []
}
